<% include ../_header %>
<%
var skillsList = "";
for(var i = 0; i < user.mentorinfo.skills.length; i++) {
    skillsList = skillsList + user.mentorinfo.skills[i];
    if (i < user.mentorinfo.skills.length - 1) {
        skillsList = skillsList + ", "
    }
}
var companyNames = enums.mentor.companyname;
var helper = viewHelper;
%>
<body>
<div class="container-fluid">
    <div class="row">
        <% include _mentorside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">dashboard home</h1>
            </div>

            <p> welcome back, <%= user.name.first %> <%= user.name.last %>. </p>

            <br/>
            <div class="header-wrapper">
                <h2 class="page-title">mentor information</h2>
            </div>
            <br/>
            <% if (messages.error) { %>
            <%- '<div class="alert alert-danger" role="alert">' + messages.error[0].toLowerCase() + '</div>' %>
            <% } %>

            <% if (messages.success) { %>
            <%- '<div class="alert alert-success" role="alert">' + messages.success[0].toLowerCase() + '</div>' %>
            <% } %>
            <form id="mentorupdateform" action="/mentor/updateinformation" method="POST" autocomplete="on">
                <div class="form-group">
                    <label for="firstname">email </label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="email"
                           value="<%= user.email %>" readonly>
                </div>
                <div class="form-group">
                    <label for="firstname">first name </label>
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="first name"
                           value="<%= user.name.first %>" readonly>
                </div>
                <div class="form-group">
                    <label for="firstname">last name </label>
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="last name"
                           value="<%= user.name.last %>" readonly>
                </div>
                <div class="form-group">
                    <label for="companyDropdown">company/organization *</label>
                    <select class="form-control" id="companyDropdown" name="companyDropdown" readonly>
                        <option value="">select</option>
                        <%- helper.generateOptions(companyNames, {selected: (user.mentorinfo.company || "")}); %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="skills">comma-separated skills (ex: python, java, web applications, etc.) *</label>
                    <input type="text" id="skills" name="skills" class="form-control"
                           placeholder="skills"
                           value="<%= skillsList || "" %>" required/>
                </div>
                <div class="form-group">
                    <label>brief bio *</label>
                    <textarea id="bio" name="bio" class="form-control" rows="4" required><%= user.mentorinfo.bio || "" %>
                    </textarea>
                </div>
                <div id="updateinfo">
                    <input type="submit" value="update information" name="updateinfobtn" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js/mentor.js"></script>
<% include ../_footer %>