<% include ../_header %>
<body>
<div class="container-fluid">
    <div class="row">
        <% include _mentorside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">mentor requests queue</h1>
            </div>
            <div class="header-wrapper">
                <h2 class="page-title">overview</h2>
            </div>
            <p> welcome to your mentor requests queue <span id="mentorname" data-mentorpubid=<%= user.pubid %>>
            <%= user.name.first %> <%= user.name.last %></span>. a request has three possible statuses:</p>
            <span class="unclaimed">
               Unclaimed:
            </span>
            A request that you may claim below and then visit the student's location to help them.
            <br/>
            <span class="claimed">
               Claimed:
            </span>
            A request that has been claimed, and the mentor who claimed it will be shown.
            <br/>
            <span class="completed">
               Completed:
            </span>
            A request that has been fully completed after a mentor claimed it and then resolved the student's request.
            <br/>
            <div class="header-wrapper">
                <h2 class="page-title">requests</h2>
            </div>
            <% if (mentorRequests.length == 0) { %>
            <h3 id="norequests"> There are currently no requests that match your skill set. You can add to your
            skill set in dashboard home to increase the number of requests that come your way.</h3>
            <% } else { %>
            <div id="usermentorrequests">
                <h5><input type="checkbox" name="unclaimed" value="unclaimed"> show only unclaimed </h5>
                <% for (var i = 0; i < mentorRequests.length; i = i + 1) { %>
                <div class="mentorrequestbox" data-mentorrequestpubid="<%= mentorRequests[i].pubid %>">
                    <div class="mentorrequestboxtitle">
                        Mentor Request Information
                    </div>
                    <div class="requeststatus">
                        <h3>
                             Status of Request:
                             <span class="<%= mentorRequests[i].requeststatus.toLowerCase() %>">
                                <%= mentorRequests[i].requeststatus %>
                             </span>
                        </h3>
                    </div>
                    <ul class="requestinfo">
                        <li class="userName">
                            <b>User: </b> <%= mentorRequests[i].user.name %>
                        </li>
                        <li class="description">
                            <b>Description of Request: </b>
                            <textarea class="form-control description" rows="5"
                                readonly><%= mentorRequests[i].description %></textarea>
                        </li>
                        <li class="desiredskills">
                            <b>Desired Skills: </b>
                            <ul class="skillslist">
                            <% for (var j = 0; j < mentorRequests[i].skills.length; j = j + 1) { %>
                            <li class="skill">
                                <%= mentorRequests[i].skills[j] %>
                            </li>
                            <% } %>
                            </ul>
                        </li>
                        <li class="location">
                            <b>Location of User: </b> <%= mentorRequests[i].location %>
                        </li>
                        <li class="mentor">
                            <b>Mentor: </b>
                            <% if (mentorRequests[i].mentor.name == null) { %>
                            None
                            <% } else { %>
                            <%= mentorRequests[i].mentor.name %> (<%= mentorRequests[i].mentor.company %>)
                            <% } %>
                        </li>
                    </ul>
                    <% if (mentorRequests[i].requeststatus == "Unclaimed") { %>
                    <div class="changeRequestStatus">
                        <input type="button" value="claim" name="claim" class="claim btn btn-primary">
                    </div>
                    <% } else if(mentorRequests[i].requeststatus == "Claimed" && mentorRequests[i].mentor.id == user.id ) { %>
                    <div class="changeRequestStatus">
                        <input type="button" value="unclaim" name="unclaim" class="unclaim btn btn-primary">
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js/mentor.js"></script>
<% include ../_footer %>