<% include ../_header %>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">bus information</h1>
            </div>
            <% if (buses.length == 0) { %>
            <h3 id="nobuses"> No Buses Currently </h3>
            <% } else { %>
            <% for (var i = 0; i < buses.length; i = i + 1) { %>
            <div class="businfobox" data-busid="<%= buses[i].id %>">
                <form>
                    <div class="form-inline">
                        <div class="form-group display-group">
                            <span class="busname"> <%= buses[i].name %></span>
                        </div>
                        <div class="form-group edit-group">
                            <input type="text" class='newbusname form-control' name='newbusname' value=""
                                   placeholder="route name"/>
                        </div>
                    </div>

                    <ul class="businfo">
                        <li class="busstopslist">
                            <b>Bus Stops:</b>
                            <ul class="busstops">
                                <% for (var j = 0; j < buses[i].stops.length; j = j + 1) { %>
                                <li data-collegeid="<%= buses[i].stops[j].collegeid %>">
                                    <span class="collegename"><%= buses[i].stops[j].collegename %></span>&nbsp;&nbsp;<a
                                            class="removecollege edit-group">(remove)</a>
                                </li>
                                <% } %>
                            </ul>
                            <div class="edit-group">
                                <label class="newcollegesearch" for="newcollegesearch">Search by College</label>

                                <div class="form-group">
                                    <input type="text" name="newcollege" class="newcollege form-control typeahead"
                                           placeholder="School Name" value=""/>
                                </div>
                                <div class="form-group">
                                    <button type="button" name="addnewcollege"
                                            class="btn btn-primary addnewcollege">add college
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="currentnumber">
                            <b>Current Number on Bus:</b> <%= buses[i].members.length %>
                        </li>
                        <li class="maxcapacity">

                            <div class="form-inline">
                                <div class="form-group">
                                    <b>Max Capacity:</b>
                                </div>
                                <div class="form-group display-group">
                                    <span class="maxcapacitynumber"> <%= buses[i].capacity %> </span>
                                </div>
                                <div class="form-group edit-group">
                                    <input type="number" class="edit-maxcapacity form-control"
                                           name="maxcapacitynumber"
                                           value=""
                                           placeholder="capacity"/>
                                </div>
                            </div>
                        </li>
                        <li class="buscaptain">
                            <b>Bus Captain:</b>
                            <% if (buses[i].buscaptain == null) { %>
                            <span>
                                      No bus captain assigned at the moment.
                                  </span>
                            <% } else { %>
                            <span>
                                      <%= buses[i].buscaptain.name.last %>, <%= buses[i].buscaptain.name.first %>
                                (<%= buses[i].buscaptain.email %>)
                                  </span>
                            <% } %>
                        </li>
                    </ul>
                    <div class="modifybus display-group">
                        <button type="button" name="editbus" class="btn btn-success editbus">edit</button>
                        <button type="button" name="removebus" class="btn btn-danger removebus">remove</button>
                    </div>
                    <div class="modifybus edit-group">
                        <button type="button" class='btn btn-success update'>update</button>
                        <button type='button' class="btn btn-danger cancel">cancel</button>
                    </div>
                </form>
            </div>
            <% } %>
            <% } %>
            <div>
                <h2> Add New Bus </h2>

                <form action="/admin/businfo" method="POST">
                    <div id="addbus">
                        <div class="form-group">
                            <label for="busname" class="businfolabel"><h4>Bus Route Name</h4></label>
                            <input type="text" name="busname" id="busname" class="form-control" value=""
                                   placeholder="Enter Route Name">
                        </div>
                        <div class="form-group">
                            <label for="busstops" class="businfolabel"><h4>Bus Stops</h4></label>
                            <br/>
                            <label class="">Stops:</label> <span id="busstops-display"></span>
                            <br/>
                            <label id="collegesearch" for="collegesearch">Search by College</label>
                            <input type="hidden" id="collegeidlist" name="collegeidlist" class="form-control"
                                   value="" required/>
                            <input type="hidden" name="busstops" id="busstops">
                            <input type="text" name="college" id="college" class="form-control typeaheadlist"
                                   placeholder="School Name"
                                   value="">
                            <input type="button" value="add college" name="addcollege" id="addcollege"
                                   class="btn btn-primary">
                        </div>
                        <div class="form-group">
                            <label for="buscapacity" class="buscapacitylabel"><h4>Bus Capacity</h4></label>
                            <input type="text" name="buscapacity" id="buscapacity" class="form-control" value=""
                                   placeholder="Enter Capacity Number">
                        </div>
                        <div id="createbus">
                            <input type="submit" value="create bus" name="createbus" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>