<% include ../_header %>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">bus information</h1>
            </div>
            <% if (buses.length == 0) { %>
                <h3 id="nobuses"> No Buses Currently </h3>
            <% } else { %>
                <% for (var i = 0; i < buses.length; i = i + 1) { %>
                    <div class="businfobox" data-busid="<%= buses[i].id %>">
                        <form action="/admin/updateBus" method="POST">
                            <div class="busname">
                                <%= buses[i].name %>
                            </div>
                            <ul class="businfo">
                              <li class="busstopslist">
                                <b>Bus Stops:</b>
                                <ul class="busstops">
                                  <% for (var j = 0; j < buses[i].stops.length; j = j + 1) { %>
                                    <li data-collegeid="<%= buses[i].stops[j].collegeid %>">
                                        <span class="collegename"><%= buses[i].stops[j].collegename %></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="button" class="removecollege" name="busname" value="Remove" />
                                    </li>
                                  <% } %>
                                </ul>
                                <div class="editbusstops">
                                    <label id="newcollegesearch" for="newcollegesearch">Search by College</label>
                                    <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                                        value="" required/>
                                    <input type="text" name="newcollege" id="newcollege" class="form-control typeahead"
                                        placeholder="School Name" value="" />
                                    <input type="button" value="add college" name="addnewcollege" id="addnewcollege"
                                        class="btn btn-primary">
                                </div>
                              </li>
                              <li class="currentnumber">
                                  <b>Current Number on Bus:</b> <%= buses[i].members.length %>
                              </li>
                              <li class="maxcapacity">
                                  <b>Max Capacity:</b> <span class="maxcapacitynumber"> <%= buses[i].capacity %> </span>
                              </li>
                              <li class="buscaptain">
                                  <b>Bus Captain:</b>
                                  <% if (buses[i].buscaptain == null) { %>
                                  <span>
                                      No bus captain assigned at the moment.
                                  </span>
                                  <% } else { %>
                                  <span>
                                      <%= buses[i].buscaptain.name.last %>, <%= buses[i].buscaptain.name.first %>
                                      (<%= buses[i].buscaptain.email %>)
                                  </span>
                                  <% } %>
                              </li>
                            </ul>
                            <div class="modifybus">
                                <input type="button" value="edit" name="editbus" class="btn btn-primary editbus">
                                <input type="button" value="remove" name="removebus" class="btn btn-primary removebus">
                            </div>
                        </form>
                    </div>
                <% } %>
            <% } %>
            <div>
                <h2> Add New Bus </h2>
                <form action="/admin/businfo" method="POST">
                    <div id="addbus">
                        <div class="form-group">
                            <label for="busname" class="businfolabel"><h4>Bus Route Name</h4></label>
                            <input type="text" name="busname" id="busname" class="form-control" value=""
                                placeholder="Enter Route Name">
                        </div>
                        <div class="form-group">
                            <label for="busstops" class="businfolabel"><h4>Bus Stops (Search Below and Add to List)</h4></label>
                            <input type="text" name="busstops" id="busstops" class="form-control" value=""
                            placeholder="List of Bus Stops">
                            <label id="collegesearch" for="collegesearch">Search by College</label>
                            <input type="hidden" id="collegeidlist" name="collegeidlist" class="form-control"
                                value="" required/>
                            <input type="text" name="college" id="college" class="form-control typeaheadlist"
                                placeholder="School Name"
                                value="">
                            <input type="button" value="add college" name="addcollege" id="addcollege" class="btn btn-primary">
                        </div>
                        <div class="form-group">
                            <label for="buscapacity" class="buscapacitylabel"><h4>Bus Capacity</h4></label>
                            <input type="text" name="buscapacity" id="buscapacity" class="form-control" value=""
                                placeholder="Enter Capacity Number">
                        </div>
                        <div id="createbus">
                            <input type="submit" value="create bus" name="createbus" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>