<% include ../_header %>
<link rel="stylesheet" href="/css/admin.css">

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="header-wrapper-leaf">
                <h1 class="leaf">Settings</h1>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#roles" aria-controls="roles" role="tab"
                                                          data-toggle="tab">Manage Roles</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="schools">

                    <h2>Manage Reimbursement Schools</h2>

                    <p>Use this page to manage reimbursements for schools.</p>

                    <div id="searchresults" class="col-md-12">
                        <p id="result-count" class="text-right"><%= reimbursements.length %> results found.</p>
                        <table class="table table-striped" id="user-roles">
                            <tr>
                                <th>School Name</th>
                                <th>Transportation Mode</th>
                                <th>Reimbursement Amount</th>
                                <th width="200px"></th>
                            </tr>
                            <%
                            for (var i = 0; i < reimbursements.length; i++) { %>
                            <tr class="user" data-pubid="<%= reimbursements[i].college.id %>">
                                <td><%= reimbursements[i].college.name %></td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <select class="form-control modeDropdown" name="modeDropdown"
                                                    data-revert="<%= users[i].role %>" disabled>
                                                <%- viewHelper.generateOptions(enums.admin.travel_mode, {
                                                    selected: reimbursements[i].mode //set default value
                                                }); %>
                                            </select>
                                        </div>
                                    </form>
                                </td>
                                <td class="amount"><input type="number" name="amount"
                                                          value="<%= reimbursements[i].amount %>"></td>

                                <td>
                                    <button class="btn btn-primary btn-edit">edit</button>
                                    <button class="btn btn-success btn-save" disabled>save</button>
                                    <button class="btn btn-danger btn-remove">remove</button>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <br/>

                        <form class="form-inline">
                            <div class="form-group">
                                <label>Add a School: </label>
                            </div>
                            <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                                   value="" required/>

                            <div class="form-group">
                                <input type="text" id="college" name="college" class="form-control typeahead"
                                       placeholder="School Name"
                                       value="" required/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="new-role" name="new-role" required>
                                    <%- viewHelper.generateOptions(enums.admin.travel_mode); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="number" class="form-control" id="amount" name="amount"
                                           placeholder="amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" id="btn-add-user">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //todo fix in refactor

    //prevent form submission
    $('form').submit(function (e) {
        e.preventDefault();
        $("#btn-add-user").click();
    });
</script>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>