<% include ../_header %>
<link rel="stylesheet" href="/css/admin.css">

<%
var input = input || {}; //persist fields
%>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">search</h1>
            </div>
            <div id="searchparameters">
                <form action="/admin/search" method="post">
                    <h3>Search by College</h3>
                    <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                           value="<%= input.collegeid || "" %>" required/>
                    <input type="text" id="college" name="college" class="form-control typeahead"
                           placeholder="School Name"
                           value="<%= input.college || "" %>">

                    <h3>Search by Category</h3>
                    <select class="form-control" id="categoryselection" name="categoryselection">
                        <option value="Select Category">Select Category</option>
                        <option value="User Id">User Id</option>
                        <option value="Email">Email</option>
                        <option value="Name">Name</option>
                    </select>
                    <fieldset>
                        <button type="submit" id="submit" class="btn btn-primary">search</button>
                    </fieldset>
                </form>
            </div>
            <div id="searchresults">
                <% for (var i = 0; i < applicants.length; i = i + 1) { %>
                <div class="applicantinfo" data-pubid="<%= applicants[i].pubid %>">
                    <a class="applicantlink" href="/admin/user/<%= applicants[i].pubid %>">
                        <div class="applicantinfotitle">
                            <%= applicants[i].name.last %>, <%= applicants[i].name.first %>
                        </div>
                    </a>
                    <ul class="applicantinfolist">
                        <li><b>Major:</b> <%= applicants[i].school.major %></li>
                        <li><b>Email:</b> <%= applicants[i].email %></li>
                        <li><b>School:</b> <%= applicants[i].school.name %></li>
                        <li><b>Year:</b> <%= applicants[i].school.year %></li>
                        <li>
                            <a href="http://files.bigredhacks.com/resume/<%= applicants[i].app.resume %>">Resume</a>
                        </li>
                        <li>Application Status: <%= applicants[i].internal.status %></li>
                    </ul>
                    <div class="decisionbuttons">
                        <button class="btn btn-primary btn-accept">Accept</button>
                        <button class="btn btn-primary btn-waitlist">Waitlist</button>
                        <button class="btn btn-primary btn-reject">Reject</button>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>