<% include ../_header %>
<link rel="stylesheet" href="/css/admin.css">

<%
var input = input || {}; //persist fields
%>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">search</h1>
            </div>
            <div id="searchparameters">
                <form action="/admin/search" method="post">

                    <div class="form-group">
                        <label for="college">Search by College</label>
                        <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                               value="<%= input.collegeid || "" %>" required/>
                        <input type="text" id="college" name="college" class="form-control typeahead"
                               placeholder="School Name"
                               value="<%= input.college || "" %>">
                    </div>

                    <div class="form-group">
                        <label for="categoryselection">Search by Category</label>
                        <select class="form-control" id="categoryselection" name="categoryselection">
                            <option value="select">Select Category</option>
                            <option value="pubid">Public User Id</option>
                            <option value="email">Email</option>
                            <option value="name">Name</option>
                        </select>
                    </div>
                    <div class="form-group category-input"></div>
                    <fieldset>
                        <button type="submit" id="submit" class="btn btn-primary">search</button>
                    </fieldset>

                </form>
            </div>
            <div id="searchresults">
                <% for (var i = 0; i < applicants.length; i++) { %>
                <div class="applicant" data-pubid="<%= applicants[i].pubid %>">
                    <a class="page" href="/admin/user/<%= applicants[i].pubid %>">
                        <div class="name">
                            <%= applicants[i].name.last %>, <%= applicants[i].name.first %>
                        </div>
                    </a>
                    <ul class="info">
                        <li><b>Major:</b> <%= applicants[i].school.major %></li>
                        <li><b>Email:</b> <%= applicants[i].email %></li>
                        <li><b>School:</b> <%= applicants[i].school.name %></li>
                        <li><b>Year:</b> <%= applicants[i].school.year %></li>
                        <li>
                            <a href="http://files.bigredhacks.com/resume/<%= applicants[i].app.resume %>">Resume</a>
                        </li>
                    </ul>
                    <div class="decisionbuttons">
                        <span class="status-text"><%= applicants[i].internal.status %></span> <br/>

                        <div class="btn-group" role="group">
                            <button class="btn btn-success btn-accept" data-status="Accepted">Accept</button>
                            <button class="btn btn-primary btn-waitlist" data-status="Waitlisted">Waitlist</button>
                            <button class="btn btn-danger btn-reject" data-status="Rejected">Reject</button>
                        </div>
                    </div>
                </div>
                <% }
                if (applicants.length == 0) {
                %>
                <p>Print search query here!</p>
                <p>No results found.</p>
                <% }%>

            </div>
        </div>
    </div>
</div>

<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>