<% include ../_header %>
<link rel="stylesheet" href="/css/admin.css">

<%
var input = params || {}; //persist fields
%>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="header-wrapper-leaf">
                <h1 class="leaf">Settings</h1>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#roles" aria-controls="roles" role="tab"
                                                          data-toggle="tab">Manage Roles</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="roles">

                    <h2>Manage Roles</h2>

                    <p>Use this page to assign users roles by email. Take care when making changes, as any changes are
                        effective immediately.</p>

                    <div id="searchresults" class="col-md-12">
                        <p id="result-count" class="text-right"><%= users.length %> results found.</p>
                        <table class="table table-striped" id="user-roles">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th width="200px"></th>
                            </tr>
                            <tr>
                                <td>Configuration User</td>
                                <td><%= users[0].email %></td>
                                <td>admin</td>
                                <td></td>
                            </tr>
                            <%
                            //start at 1: first user is hardcoded config email
                            for (var i = 1; i < users.length; i++) { %>
                            <tr class="user" data-pubid="<%= users[i].pubid %>">
                                <td><a href="/admin/user/<%= users[i].pubid %>" target="_blank"><%= users[i].name.first %> <%= users[i].name.last %></a></td>
                                <td class="email"><%= users[i].email %></td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <select class="form-control roleDropdown" name="roleDropdown" data-revert="<%= users[i].role %>" disabled>
                                                <%- viewHelper.generateOptions(enums.virtual.role.long, {//exclude "user"
                                                    selected: users[i].role //set default value
                                                }); %>
                                            </select>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-edit role">edit</button>
                                    <button class="btn btn-success btn-save role" disabled>save</button>
                                    <button class="btn btn-danger btn-remove role">remove</button>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Add a User: </label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="new-email" name="new-email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="new-role" name="new-role" required>
                                    <%- viewHelper.generateOptions(enums.virtual.role.long); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" id="btn-add-user">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //todo fix in refactor

    //prevent form submission
    $('form').submit(function (e) {
        e.preventDefault();
        $("#btn-add-user").click();
    });
</script>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>