<% include ../_header %>
<% var user = currentUser || {}; %>
<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">review user</h1>
            </div>
            <% include _usertemplate %>

            <h4>Team Information:</h4>
            <ul>
                <li>Team id: <a id="teamid"
                                href="/admin/team/<%= currentUser.internal.teamid %>"
                                target="_blank"><%= currentUser.internal.teamid %></a>
                </li>
                <li>No. Members: <%= currentUser.team.length %></li>
            </ul>
            <br/>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <% for (var i = 0; i < currentUser.team.length; i++) {
                    user = currentUser.team[i]; //redefine user object
                %>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="user-heading-<%= user.pubid %>">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#user-collapse-<%= user.pubid %>"
                               aria-expanded="false"
                               aria-controls="user-collapse-<%= user.pubid %>">
                                <%= user.name.last %>, <%= user.name.first %>
                            </a>
                            <span class="status <%= user.internal.status %>"><%= user.internal.status %></span>
                        </h4>
                    </div>
                    <div id="user-collapse-<%= user.pubid %>" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="user-heading-<%= user.pubid %>">
                        <div class="panel-body">
                            <% include _usertemplate %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <br/>

            <div class="text-center">
                Update team application decision:
                <form class="decision-radio team np-enabled">
                    <%- viewHelper.generateInlineRadio(enums.virtual.status.long, {
                        checked: null, //set default value
                        name: "teamstatus", //name attr of each input
                        label: enums.virtual.status.long //label of the input different from actual input
                    }); %>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin.js"></script>
<% include ../_footer %>