<% include ../partials/_header %>
<% var en = enums.user;
var errors = errors || null;
var message = message || "";

var helper = viewHelper;
%>


<% if (errors) {
    for (var i = 0; i < errors.length; i++) {
        errors[i] = '<div class="alert alert-danger" role="alert">' + errors[i].msg + '</div>'
    }
}
else errors = [];
%>
<!-- Custom CSS -->
<link href="/css/dashboard.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <% include ../partials/_dashboardside.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
            <form id="registrationForm" action="/register" method="POST" autocomplete="on">
                <fieldset>
                    <legend>Account Information</legend>
                    <div class="form-group">
                        <label for="email">Email Address *</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder=
                        "bigredhacks@example.com" value="<%= user.email %>" title="Please enter a valid email"
                        readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                        value="" readonly>
                    </div>
                </fieldset>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Basic Information</legend>
                    <div class="form-group">
                        <label for="firstname">First Name *</label>
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name"
                        value="<%= user.name.first %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name *</label>
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name"
                        value="<%= user.name.last %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber">Phone Number *</label>
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="2058675309"
                        value="<%= user.phone %>" required/>
                    </div>
                    <div class="form-group">
                        <label for="genderDropdown">Gender *</label>
                        <select class="form-control" id="genderDropdown" name="genderDropdown">
                            <option value=""></option>
                            <%- helper.generateOptions(en.gender, {selected: user.gender}); %>
                        </select>
                    </div>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>School</legend>


                    <div class="form-group">
                        <label for="college">Full School Name *</label><br/>
                        <input type="text" id="college" name="college" class="form-control typeahead" placeholder="School Name"
                         value="<%= helper.collegeid %>" required readonly/>
                    </div>
                    <div class="form-group">
                        <label for="yearDropdown">Graduation Year *</label>
                        <select class="form-control" id="yearDropdown" name="yearDropdown" readonly>
                            <option value=""></option>
                            <%- helper.generateOptions(en.year, {selected: user.year}); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="major">Major *</label>
                        <input type="text" id="major" name="major" class="form-control" placeholder="Major"
                        value="<%= user.major %>" required/>
                    </div>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Background</legend>

                    <div class="form-group">
                        <label>Essay Question 1 *</label>
                        <textarea id="q1" name="q1" class="form-control" rows="3"><%= user.app.questions.q1 %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Essay Question 2 *</label>
                        <textarea id="q2" name="q2" class="form-control" rows="3"><%= user.app.questions.q2 %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="github">Github Profile </label>

                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <input type="text" class="form-control" id="github" name="github"
                            value="<%= user.app.github %>" placeholder="johndoe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="linkedin">LinkedIn Profile</label>

                        <div class="input-group">
                            <div class="input-group-addon">http://</div>
                            <input type="text" class="form-control" id="linkedin" name="linkedin"
                            value="<%= user.app.linkedin %>" placeholder="www.linkedin.com/">
                        </div>
                    </div>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Preferences</legend>
                    <div class="form-group">
                        <label for="dietary">Dietary Restrictions *</label>
                        <select class="form-control" id="dietary" name="dietary">
                            <option value=""></option>
                            <%- helper.generateOptions(en.dietary,{selected: user.dietary}); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tshirt">T-Shirt Size *</label>
                        <select class="form-control" id="tshirt" name="tshirt">
                            <option value=""></option>
                            <%- helper.generateOptions(en.tshirt, {selected: user.tshirt}); %>
                        </select>
                    </div>
                </fieldset>

                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/register.js"></script>

<% include ../partials/_footer %>