<% include ../partials/_header %>
<% var firstname = firstname || '';
var lastname = lastname || '';
var team = team || []; //team members
var error = error || []; //error flash message
var success = success | []; //success flash message
%>
<!-- Custom CSS -->
<link href="/css/dashboard.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <% include ../partials/_dashboardside.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">

            <h2>Dashboard </h2>
            <p> Welcome back, <%= firstname %> <%= lastname %> </p>
            <% if (error.length > 0) { %>
            <%- '<div class="alert alert-danger" role="alert">' + error[0] + '</div>' %>
            <%}%>
            <% if (success.length > 0) { %>
            <%- '<div class="alert alert-success" role="alert">' + success[0] + '</div>' %>
            <%}%>

            <h2>Status</h2>
            <p>
                Registration Process Is Still Open
            </p>

            <h2>My Team</h2><%- team.length > 0 ? ' <a href="/user/team/leave">(leave)</a>' : ''%>
            <div>
                <p>You can create a team with up to 5 people. ID: <%= userid %></p>
                <ul>
                    <% if(team.length == 0) { %>

                    <%
                    }
                    else for (var i=0; i<team.length;i++) { %>
                      <li><%= team[i].name %></li>
                    <%}%>

                </ul>
                <form action="/user/team/add" class="form-inline" method="POST">
                    <div class="form-group">
                        <label for="addteamid" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="addteamid" name="userid" placeholder="User ID">
                    </div>
                    <button type="submit" id="addteamid-submit" class="btn btn-default" disabled>Add a Teammate</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
<% include ../partials/_footer %>