<% include ../_header %>
<% var firstname = firstname || '';
var lastname = lastname || '';
var team = team || []; //team members
var error = error || []; //error flash message
var success = success || []; //success flash message
%>

<div class="container-fluid">
    <% include _dashboardside.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">

        <h1><span>dashboard</span></h1>

        <p> welcome back, <%= name.first %> <%= name.last %> </p>

        <% if (error.length > 0) { %>
        <%- '<div class="alert alert-danger" role="alert">' + error[0] + '</div>' %>
        <% } %>

        <% if (success.length > 0) { %>
        <%- '<div class="alert alert-success" role="alert">' + success[0] + '</div>' %>
        <% } %>

        <br/>

        <h2><span>status</span></h2>

        <p>
            registration process is still open
        </p>

        <br/>

        <h2><span>my team</span></h2>
        <div>
            <p>you may add up to 5 team members.</p>
            <form action="/user/team/add" class="form-inline" method="POST">
                <label>enter teammate id</label><span class="label-helper">me: <%= userid %></span><br/>
                <div class="form-group has-error">
                    <label for="addteamid" class="sr-only">Password</label>
                    <input type="text" class="form-control" id="addteamid" name="userid" placeholder="User ID">
                </div>
                <button type="submit" id="addteamid-submit" class="btn btn-danger" disabled>add a teammate</button>
            </form>
            <ul class="team-list">

                <% if(team.length == 0) { %>

                <%
                }
                else {
                for (var i = 0; i < team.length;i++) { %>
                <li><%= team[i].name %></li>
                <% } %>

            <% } %>
            </ul>
            <%- (team.length > 0) ? '<a class="btn btn-danger" href="/user/team/leave">remove yourself from this team</a>': ''; %>

        </div>

        <br/>

        <h2><span>resume</span></h2>
        <a href="<%= resumeLink %>" target="_blank">My Resume</a>

    </div>
</div>

<script src="/js/dashboard.js"></script>
<% include ../_footer %>