<% include partials/header %>
<% var en = enums.user;
var errors = errors || null;
var message = message || "";

//string format function
if (!String.prototype.format) {
    String.prototype.format = function () {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function (match, number) {
            return typeof args[number] != 'undefined' ? args[number] : match;
        });
    };
}
//todo maybe put in a helper file
var generateOptions = function (arr, options) {
    var array = arr.slice(); //clone the array
    options = options || "";
    var tag = '<option ' + options + ' value="{0}">{0}</option>';
    for (var i = 0; i < array.length; i++) {
        array[i] = tag.format(array[i]);
    }
    return array.join('');
};
%>


<% if (errors) {
    for (var i = 0; i < errors.length; i++) {
        errors[i] = '<div class="alert alert-danger" role="alert">' + errors[i].msg + '</div>'
    }
}
else errors = [];
%>

<div class="container">
    <%- errors.join("") %>
    <!--todo remove novalidate for production-->
    <form id="registrationForm" action="/register" method="POST" autocomplete="on" novalidate>
        <fieldset>
            <legend>Account Information</legend>
            <div class="form-group">
                <label for="email">Email Address *</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="bigredhacks@example.com"
                       title="Please enter a valid email" required/>
            </div>
            <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Basic Information</legend>
            <div class="form-group">
                <label for="firstname">First Name *</label>
                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name"
                       required/>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name *</label>
                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name"
                       required/>
            </div>
            <div class="form-group">
                <label for="phonenumber">Phone Number *</label>
                <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="2058675309"
                       required/>
            </div>
            <div class="form-group">
                <label for="genderDropdown">Gender *</label>
                <select class="form-control" id="genderDropdown" name="genderDropdown">
                    <option value="">Select</option>
                    <%- generateOptions(en.gender); %>
                </select>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>School</legend>


            <div class="form-group">
                <label for="college">Full School Name *</label><br/>
                <input type="text" id="college" name="college" class="form-control typeahead" placeholder="School Name"
                       required/>
            </div>
            <div class="form-group">
                <label for="yearDropdown">Graduation Year *</label>
                <select class="form-control" id="yearDropdown" name="yearDropdown">
                    <option value="">Select</option>
                    <%- generateOptions(en.year); %>
                </select>
            </div>
            <div class="form-group">
                <label for="major">Major *</label>
                <input type="text" id="major" name="major" class="form-control" placeholder="Major"
                       required/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Background</legend>
            <label>Resume(PDF)</label>
            <input type="file" name="resume" accept=".pdf" required/><br>

            <div class="form-group">
                <label>Essay Question 1 *</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Essay Question 2 *</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="github">Github Profile </label>

                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" id="github" name="github" placeholder="johndoe">
                </div>
            </div>
            <div class="form-group">
                <label for="linkedin">LinkedIn Profile</label>

                <div class="input-group">
                    <div class="input-group-addon">http://</div>
                    <input type="text" class="form-control" id="linkedin" name="linkedin"
                           placeholder="www.linkedin.com/">
                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Preferences</legend>
            <div class="form-group">
                <label for="dietary">Dietary Restrictions *</label>
                <select class="form-control" id="dietary" name="dietary">
                    <option value="">Select</option>
                    <%- generateOptions(en.dietary); %>
                </select>
            </div>
            <div class="form-group">
                <label for="tshirt">T-Shirt Size *</label>
                <select class="form-control" id="tshirt" name="tshirt">
                    <option value="">Select</option>
                    <%- generateOptions(en.tshirt); %>
                </select>
            </div>
        </fieldset>

        <button type="submit" id="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/register.js"></script>
<% include partials/footer %>
