<% include _header %>
<%
var en = enums.user;
var errors = errors || []; //form errors
var error = error || []; //misc errors flash
var input = input || {}; //persist fields
var helper = viewHelper;
%>
<%
//form validation errors
if (errors.length > 0) {
    for (var i = 0; i < errors.length; i++) {
        errors[i] = '<div class="alert alert-danger" role="alert">' + errors[i].msg + '</div>'
    }
}
else errors = [];

//generic flash error
if (messages.error) {
    error = '<div class="alert alert-danger" role="alert">' + error[0] + '</div>';
}
%>

<link href="/css/index.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<body>
<% include _navbar-generic %>
<div class="container" style="overflow-x:hidden;">
    <%- error %>
    <%- errors.join(""); %>
    <h1>Cornell Registration</h1>

    <p>Registration for Cornell University (Ithaca campus) students is on a first-come first-serve basis: only the
        first <%= limit %> spots are guaranteed.</p>

    <p>Any additional registrants will be put on an ordered waitlist. Based on last year, we anticipate that most
        waitlisted students will be offered a spot at the hackathon.</p>

    <p>Don't miss this amazing event, sign up now!</p>

    <p><strong>This registration is only for Cornell students at the Ithaca campus.  Cornell Tech students, please email info@bigredhacks.com and we will provide you an alternative way to register.</strong></p>

    <form id="registrationForm" action="/register/<%= urlparam %>" name='registrationForm' method="POST"
          autocomplete="on"
          enctype="multipart/form-data">
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">account information</legend>
            </div>
            <div class="form-group">
                <label for="email">email address *</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="bigredhacks@example.com"
                       value="<%= input.email || "" %>" required/>
            </div>
            <div class="form-group">
                <label for="password">password *</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="password"
                       required/>
            </div>
            <div class="form-group">
                <label for="confirmpassword">confirm password *</label>
                <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                       placeholder="password"
                       required/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">basic information</legend>
            </div>
            <div class="form-group">
                <label for="firstname">first name *</label>
                <input type="text" id="firstname" name="firstname" minlength="2" class="form-control"
                       placeholder="first name"
                       value="<%= input.firstname || "" %>" required/>
            </div>
            <div class="form-group">
                <label for="lastname">last name *</label>
                <input type="text" id="lastname" name="lastname" minlength="2" class="form-control"
                       placeholder="last name"
                       value="<%= input.lastname || "" %>" required/>
            </div>
            <div class="form-group">
                <label for="phonenumber">phone number *</label>
                <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="XXX-XXX-XXXX"
                       value="<%= input.phonenumber || "" %>" required/>
            </div>
            <div class="form-group">
                <label for="genderDropdown">gender *</label>
                <select class="form-control" id="genderDropdown" name="genderDropdown" required>
                    <option value="">select</option>
                    <%- helper.generateOptions(en.gender, {selected: (input.genderDropdown || "")}); %>
                </select>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">school</legend>
            </div>

            <div class="form-group">
                <label for="college">full school name *</label><br/>
                <input type="text" class="form-control" value="<%= college.display %>" required readonly/>

            </div>
            <div class="form-group">
                <label for="yearDropdown">academic year *</label>
                <select class="form-control" id="yearDropdown" name="yearDropdown" required>
                    <option value="">select</option>
                    <%- helper.generateOptions(en.year, {selected: (input.yearDropdown || "")}); %>
                </select>
            </div>
            <div class="form-group">
                <label for="major">major *</label>
                <input type="text" id="major" name="major" class="form-control" placeholder="major"
                       value="<%= input.major || "" %>" required/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">background</legend>
            </div>
            <div class="form-group">
                <label for="resume">resume (.pdf) *</label>

                <div class="wrapper">
                    <input data-label="upload" class="form-control filepicker-bootstrap" type="file" id="resume"
                           name="resume" accept=".pdf" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="github">github profile </label>

                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" id="github" name="github" placeholder="johndoe"
                           value="<%= input.github || "" %>"/>
                </div>
            </div>
            <div class="form-group">
                <label for="linkedin">linkedIn profile</label>

                <div class="input-group">
                    <div class="input-group-addon">http://</div>
                    <input type="text" class="form-control" id="linkedin" name="linkedin"
                           placeholder="www.linkedin.com/" value="<%= input.linkedin || "" %>"/>
                </div>
            </div>
            <div class="form-group">
                <label for="experienceDropdown">is this your first hackathon? *</label>
                <select class="form-control" id="experienceDropdown" name="experienceDropdown" required>
                    <option value="">select</option>
                    <%- helper.generateOptions(en.experience, {selected: (input.experienceDropdown || "")}); %>
                </select>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">logistics</legend>
            </div>
            <div class="form-group">
                <label for="dietary">dietary restrictions *</label>
                <select class="form-control" id="dietary" name="dietary" required>
                    <option value="">select</option>
                    <%- helper.generateOptions(en.dietary, {selected: (input.dietary || "")}); %>
                </select>
            </div>
            <div class="form-group">
                <label for="tshirt">t-shirt size *</label>
                <select class="form-control" id="tshirt" name="tshirt" required>
                    <option value="">select</option>
                    <%- helper.generateOptions(en.tshirt, {selected: (input.tshirt || "")}); %>
                </select>
            </div>
            <div class="form-group">
                <label>is there anything else you'd like to tell us?</label>
                        <textarea id="anythingelse" name="anythingelse" class="form-control"
                                  rows="2"><%= input.anythingelse %></textarea>
            </div>
        </fieldset>
        <fieldset>
            <div class="header-wrapper">
                <legend class="page-title">terms</legend>
            </div>
            <p>Please carefully read the two documents below:</p>
                <div class="form-group">
                    <a type="button" class="btn btn-red" href="http://www.bigredhacks.com/docs/waiver2015.pdf" target="_blank">liability waiver & release</a>
                    <a type="button" class="btn btn-red" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf"
                       target="_blank">code of conduct</a><br>

                    <br>
                    <p><label>By registering and taking part in BigRed//Hacks, you affirm that you have read and agree to the BigRed//Hacks Accident Waiver and Release of Liability, and agree to comply with the Major League Hacking Code of Conduct.
                        </label><p>
                </div>
        </fieldset>
        <fieldset>
            <button type="submit" id="submit" value="submit" class="btn btn-primary">submit</button>
        </fieldset>
    </form>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="/js/register.js"></script>
<% include _footer %>
