<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>School</th>
        <th>Status</th>
    </tr>
    <% for (var i = 0; i < applicants.length; i++) { %>

    <tr class="applicant" data-pubid="<%= applicants[i].pubid %>">
        <td><a href="/admin/user/<%= applicants[i].pubid %>" target="_blank"><%= applicants[i].name.last %>
                , <%= applicants[i].name.first %></a></td>
        <td><%= applicants[i].email %></td>
        <td><%= applicants[i].school.name %></td>
        <td>
            <form class="decision-radio np-enabled">
                <%- viewHelper.generateInlineRadio(enums.virtual.status.long, {
                    checked: applicants[i].internal.status, //set default value
                    name: "status", //name attr of each input
                    label: enums.virtual.status.short //label of the input different from actual input
                }); %>
            </form>
        </td>
    </tr>
    <% } %>
</table>
