<% include ../../_header %>
<%
var input = params || {}; //persist fields
var render = render || "box"; //default to box view
%>

<body>
<div class="container-fluid">
    <div class="row">
        <% include ../_adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">search</h1>
            </div>
            <form class="render-option form-inline">
                <div class="form-group hidden-xs">
                    <label for="render">Render: </label>
                    <select name="render" id="render" class="form-control">
                        <%- viewHelper.generateOptions("box table".split(" "), {selected: render}); %>
                    </select>
                </div>
            </form>
            <div id="searchparameters" class="col-md-12">
                <p>All fields are optional.</p>

                <form action="/admin/search" method="GET">
                    <input type="hidden" name="render" value="<%= render %>"/>

                    <div class="form-group">
                        <label for="college">Search by College</label>
                        <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                               value="<%= params.collegeid || "" %>" required/>
                        <input type="text" name="college" id="college" class="form-control typeahead"
                               placeholder="School Name"
                               value="<%= params.college || "" %>">
                    </div>

                    <div class="form-group">
                        <label for="categoryselection">Search by Category</label>
                        <select class="form-control" id="categoryselection">
                            <option value="" data-persist="">Select Category</option>
                            <option value="pubid" data-persist="<%= params.pubid || "" %>">Public User Id</option>
                            <option value="email" data-persist="<%= params.email || "" %>">Email</option>
                            <option value="name" data-persist="<%= params.name || "" %>">Name</option>
                        </select>
                    </div>
                    <div class="form-group category-input"></div>
                    <div class="decision-search">
                        <label>Narrow by Decision: </label><br/>
                        <%- viewHelper.generateInlineRadio(["","Accepted","Waitlised","Rejected","Pending"],{
                                label: "None Accepted Waitlisted Rejected Pending".split(" "),
                                checked: input.status || "",
                                name: "status"})
                        %>
                    </div>
                    <div class="form-group">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="teamwithcornell" name="teamwithcornell" value="true"
                                       class="checkbox" <%- params.teamwithcornell ? "checked" : "" %>> Team with Cornell students
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="goingDropdown">Going:</label>
                                <select class="form-control" id="going" name="going">
                                    <option value="">select</option>
                                    <%- viewHelper.generateOptions([true, false], {selected: (input.going || "")}); %>
                                </select>
                            </div>&nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                <label for="notgoingDropdown">No Longer Interested:</label>
                                <select class="form-control" id="notgoing" name="notgoing">
                                    <option value="">select</option>
                                    <%- viewHelper.generateOptions([true, false], {selected: (input.notgoing || "")}); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <button type="submit" id="submit" class="btn btn-primary">search</button>
                    </fieldset>

                </form>
            </div>
            <div id="searchresults" class="col-md-12">
                <p id="result-count" class="text-right"><%= applicants.length %> results found.</p>

                <% if (render == 'box') { %>
                <% include _boxview %>
                <% } else if (render == 'table') { %>
                <% include _tableview %>
                <% } %>

                <% if (applicants.length == 0) {
                %>

                <p>No results found.</p>
                <% } %>

            </div>
        </div>
    </div>
</div>

<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../../_footer %>