<% include ../../_header %>
<% var status = user.internal.status.toLowerCase();
var errors = errors || []; //form errors
var error = error || []; //misc errors flash
var input = input || {}; //persist fields
var helper = viewHelper;
%>
<body>
<div class="container-fluid">
    <div class="row" data-userpubid="<%= user.pubid %>">
        <% include ../_dashboardside.ejs %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="header-wrapper-leaf">
                <h1 class="leaf">dashboard</h1>
            </div>

            <% if (messages.error) { %>
            <%- '<div class="alert alert-danger" role="alert">' + messages.error[0].toLowerCase() + '</div>' %>
            <% } %>

            <% if (messages.success) { %>
            <%- '<div class="alert alert-success" role="alert">' + messages.success[0].toLowerCase() + '</div>' %>
            <% } %>

            <p> welcome back, <%= user.name.first %> <%= user.name.last %>. </p>


            <br/>

            <div class="header-wrapper">
                <h2 class="page-title">status</h2>
            </div>

            <% if (status === "waitlisted") { %>

            <p class="long-text" class="long-text">Thank you for applying for BigRed//Hacks! With so many hackathons
                happening this year, we're honored that we were on your list.</p>

            <p class="long-text">We had a record number of applications, and a very limited amount of space. While we
                aren't able to offer you a spot immediately, you are on our waitlist and we'll reach out to you as soon
                as one becomes available. Last year, we were able to accept a lot of hackers from our waitlist, so check
                your email often!</p>

            <p class="long-text">If you aren't interested in coming to BigRed//Hacks at all anymore, then please check
                the box below. We'll be sad, but it'll be super helpful.</p>

            <p class="long-text">All the best for the future, and keep on hacking!</p>

            <p>BigRed//Hacks Team</p>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notinterested" value=""
                               class="checkbox" <%- user.internal.not_interested ? "checked" : "" %>> I'm not interested
                        in going anymore.
                    </label>
                </div>
            </div>

            <% } else if (status === "accepted") { %>

            <p class="long-text">Congratulations - you're in! We're excited to offer you a spot in BigRed//Hacks 2015,
                taking place on September 18-20 at Cornell University. You'll be one of 400 hackers from universities
                all across the U.S. coming together to hack, build, and learn.</p>


            <p>Please join our <a href="https://www.facebook.com/groups/397005627168999/">BigRed//Hacks 2015 Hackers</a> Facebook group to meet other attendees and find partners.</p>
            <p class="long-text">We'll be sending lots more information as we get closer to the event, so stay
                tuned!</p>

             <p class="long-text">Please join our <a href="https://www.facebook.com/groups/397005627168999/">BigRed//Hacks 2015 Hackers</a> Facebook group to find partners and plan travel with other students.</p>

            <p class="long-text">Looking forward to seeing you in there,</p>

            <p>BigRed//Hacks Team</p>
            <br/>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="cornell-rsvp" value=""
                               class="checkbox" <%- user.internal.going ? "checked" : "" %>> I'll be able to make it!
                    </label>
                </div>
            </div>

            <% } %>

            <div class="header-wrapper">
                <h2 class="page-title">resume</h2>
            </div>
            <a class="btn btn-red" href="<%= resumeLink %>" target="_blank">view my resume</a>
            <button class="btn btn-red" id="resume-update">update my resume</button>

            <form method="post" class="form-inline" action="/user/updateresume" style="display:none" id="resume-form"
                  enctype="multipart/form-data">
                <label>upload a new resume (.pdf)</label><br/>

                <div class="form-group has-error">
                    <input data-label="upload" class="form-control filepicker-bootstrap" type="file" id="resumeinput"
                           name="resumeinput" accept=".pdf" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-red" id="resume-save" disabled>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js/dashboard.js"></script>
<% include ../../_footer %>
