<% include ../../_header %>
<% var status = user.internal.status.toLowerCase();
var errors = errors || []; //form errors
var error = error || []; //misc errors flash
var input = input || {}; //persist fields
var helper = viewHelper;
%>
<body>
<div class="container-fluid">
    <div class="row">
        <% include ../_dashboardside.ejs %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="header-wrapper-leaf">
                <h1 class="leaf">dashboard</h1>
            </div>

            <% if (messages.error) { %>
            <%- '<div class="alert alert-danger" role="alert">' + messages.error[0].toLowerCase() + '</div>' %>
            <% } %>

            <% if (messages.success) { %>
            <%- '<div class="alert alert-success" role="alert">' + messages.success[0].toLowerCase() + '</div>' %>
            <% } %>

            <p> welcome back, <%= user.name.first %> <%= user.name.last %>. </p>


            <br/>

            <div class="header-wrapper">
                <h2 class="page-title">status</h2>
            </div>
            <% if (status === "rejected") { %>
            <p>thank you so much for applying to bigred//hacks! the application pool this year was more competitive than
                it's ever been and unfortunately, due to logistical constraints, we are unable to offer you a spot at
                bigred//hacks.</p>

            <p>don't be disheartened! there are a ton of great hackathons out there if you still want to make awesome
                things, meet amazing people, and improve your chances of going to bigred//hacks next year. you can see a
                schedule of other hackathons coming up this fall <a href="http://mlh.io/seasons/f2015/events">here</a>.

            <p>we are eagerly anticipating your next application.</p>

            <p>--the bigred//hacks team</p>

            <% } else if (status === "waitlisted") { %>
            <p>thank you so much for applying to bigred//hacks! unfortunately, due to logistical constraints, we are
                unable to guarantee a spot for you at this time. however, we have placed you on the waitlist, so there’s
                still a chance you'll get in!</p>

            <p>we will email you whether we can offer you a spot soon, so make sure that our emails are not going to
                spam. stay tuned!</p>

            <p>--the bigred//hacks team</p>

            <% } else if (status === "accepted") { %>
            <p>congratulations!</p>

            <p>the organizers of bigred//hacks have reviewed your application and you're officially invited to
                participate in bigred//hacks 2015!</p>

            <p>bigred//hacks 2015 is the second iteration of cornell university's ultimate hackathon. join students from
                all over the world for an amazing weekend of hacking, networking, and competing for over _______ in
                prizes! be a part of something big.</p>

            <p>you can view your travel allowance below. please rsvp within ______ days so we'll be able to reserve you
                a spot. also, please make sure to upload your receipt(s) within the same ______ day period or else your
                reimbursement might be re-allotted to someone else.</p>

            <p>--the bigred//hacks team</p>

            <br/>

            <div class="header-wrapper">
                <h2 class="page-title">transportation</h2>
            </div>
            <p>method: charter bus/public transportation/drive</p>

            <p>allowance: n/a for charter bus, $__ for public transportion, $___/mile for drive</p>

            <p>please send any questions or concerns to <a href="mailto:info@bigredhacks.com?Subject=Transportation">info@bigredhacks.com</a>.
            </p>

            <button type="button" class="btn btn-red">upload receipts</button>

            <br/>


            <div class="header-wrapper">
                <h2 class="page-title">rsvp</h2>
            </div>
            <form method="post" action="/user/rsvp" id="rsvp-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="genderDropdown">Are you coming? *</label>
                    <select class="form-control" id="rsvpDropdown" name="rsvpDropdown" required>
                        <option value="">select</option>
                        <%- helper.generateOptions("yes no".split(" "), {selected: (input.rsvp || "")}); %>
                    </select>
                </div>


                <p>Before reserving your spot, you must read and accept to the following codes of conduct from us
                    and major league hacking.</p>

                <div class="form-group">
                    <a type="button" class="btn btn-red" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf"
                       target="_blank">mlh</a>
                    <a type="button" class="btn btn-red" href="" target="_blank">bigred//hacks</a>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="legal" value="true"
                                   class="checkbox"> by checking this box, I agree to abide by the
                            mlh and bigred//hacks codes of.conduct
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="rsvp" class="btn btn-red">submit</button>
                </div>
            </form>
            <br/>

            <div class="header-wrapper">
                <h2 class="page-title">transportation</h2>
            </div>

            <% if (bus == null) { %>
            <p>no bus stop planned at or near your school at the moment. please check back soon or contact us
                for bus information.</p>
            <% } else { %>
            <p> <%= bus.message %> </p>

            <div class="businfobox" data-busid="<%= bus.id %>">
                <div class="busname">
                    <%= bus.name %>
                </div>
                <ul class="businfo">
                    <li class="busstopslist">
                        <b>Bus Stops:</b>
                        <ul class="busstops">
                            <% for (var i = 0; i < bus.stops.length; i++) { %>
                            <li data-collegeid="<%= bus.stops[i].collegeid %>">
                                <span class="collegename"><%= bus.stops[i].collegename %></span>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                    <li class="currentnumber" data-currentnumber="<%= bus.members.length %>">
                        <b>Current Number on Bus:</b> <%= bus.members.length %>
                    </li>
                    <li class="maxcapacity">
                        <b>Max Capacity:</b> <span class="maxcapacitynumber"> <%= bus.capacity %> </span>
                    </li>
                    <% if (user.internal.busid == bus.id) { %>
                    <li class="userbusdecision"><b>Your Current Bus Decision:</b> Signed Up</li>
                    <% } else { %>
                    <li class="userbusdecision"><b>Your Current Bus Decision:</b> Opt Out</li>
                    <% } %>
                </ul>
                <div class="busselection">
                    <input type="button" value="sign up" name="signup" id="signup" class="btn btn-primary">
                    <input type="button" value="opt out" name="optout" id="optout" class="btn btn-primary">
                </div>
            </div>
            <% } %>

            <div class="header-wrapper">
                <h2 class="page-title">resume</h2>
            </div>
            <a class="btn btn-red" href="<%= resumeLink %>" target="_blank">view my resume</a>
            <button class="btn btn-red" id="resume-update">update my resume</button>

            <form method="post" class="form-inline" action="/user/updateresume" style="display:none" id="resume-form"
                  enctype="multipart/form-data">
                <label>upload a new resume (.pdf)</label><br/>

                <div class="form-group has-error">
                    <input data-label="upload" class="form-control filepicker-bootstrap" type="file" id="resumeinput"
                           name="resumeinput" accept=".pdf" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-red" id="resume-save" disabled>Save</button>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</div>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="/js/dashboard.js"></script>
<% include ../../_footer %>
