<% include ../../_header %>
<% var status = user.internal.status.toLowerCase();
var errors = errors || []; //form errors
var error = error || []; //misc errors flash
var input = input || {}; //persist fields
var helper = viewHelper;
%>
<body>
<div class="container-fluid">
    <div class="row">
        <% include ../_dashboardside.ejs %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="header-wrapper-leaf">
                <h1 class="leaf">dashboard</h1>
            </div>

            <% if (messages.error) { %>
            <%- '<div class="alert alert-danger" role="alert">' + messages.error[0].toLowerCase() + '</div>' %>
            <% } %>

            <% if (messages.success) { %>
            <%- '<div class="alert alert-success" role="alert">' + messages.success[0].toLowerCase() + '</div>' %>
            <% } %>

            <p> welcome back, <%= user.name.first %> <%= user.name.last %>. </p>


            <br/>

            <div class="header-wrapper">
                <h2 class="page-title">status</h2>
            </div>
            <% if (status === "pending") { %>
            <p class="long-text">Something went wrong. Please contact us at <a
                        href="mailto:info@bigredhacks.com?Subject=Application%20Status%20Error">info@bigredhacks.com</a>
            </p>
            <% } else if (status === "rejected") { %>

            <p class="long-text">Thank you for applying for BigRed//Hacks! With so many hackathons happening this year,
                we're honored that we were on your list.</p>

            <p class="long-text">Unfortunately, we aren't able to offer you a spot at BigRed//Hacks 2015. We had a
                record number of applications, and a very limited amount of space. But know that we still think you're
                awesome, and would love for you to apply again for BigRed//Hacks 2015!</p>

            <p class="long-text">All the best for the future, and keep on hacking!</p>

            <p>BigRed//Hacks Team</p>

            <% } else if (status === "waitlisted") { %>

            <p class="long-text">Thank you for applying for BigRed//Hacks! With so many hackathons
                happening this year, we're honored that we were on your list.</p>

            <p class="long-text">We had a record number of applications, and a very limited amount of space. While we
                aren't able to offer you a spot immediately, you are on our waitlist and we'll reach out to you as soon
                as one becomes available. Last year, we were able to accept a lot of hackers from our waitlist, so check
                your email often!</p>

            <p class="long-text">If you aren't interested in coming to BigRed//Hacks at all anymore, then please check
                the box below. We'll be sad, but it'll be super helpful.</p>

            <p class="long-text">All the best for the future, and keep on hacking!</p>

            <p>BigRed//Hacks Team</p>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notinterested" value=""
                               class="checkbox" <%- user.internal.not_interested ? "checked" : "" %>> I'm not interested in going anymore.
                    </label>
                </div>
            </div>

            <% } else if (status === "accepted") { %>

            <p class="long-text">Congratulations - you're in! We're excited to offer you a spot in BigRed//Hacks 2015,
                taking place on September 18-20 at Cornell University. You'll be one of 400 hackers from universities
                all across the U.S. coming together to hack, build, and learn.</p>

            <% if (!user.internal.cornell_applicant) { %>

            <p class="long-text">Because the event is fast approaching, <b>we're asking that all attendees RSVP by
                    September 1, 2015,</b> or you risk losing your spot. RSVPing involves two steps: confirming your
                mode of transportation
                (including providing a receipt if requesting a reimbursement), and agreeing to the BigRed//Hacks and
                Major League Hacking's code of conduct.</p>

            <% } %>
            <p class="long-text">We'll be sending lots more information as we get closer to the event, so stay
                tuned!</p>

            <p class="long-text">Looking forward to seeing you in Ithaca,</p>

            <p>BigRed//Hacks Team</p>


            <br/>

            <% if (!(user.internal.going == false)) { %>
            <div class="header-wrapper">
                <h2 class="page-title">transportation</h2>
            </div>

            <% if (bus == null ) { %>
            <p>Allowance: $<%= reimbursement.amount %></p>

            <p class="long-text">Allowances are based on the general cost of inexpensive transportation in your area.
                You may select any method
                of transportation, but we will only reimburse you up to the amount above. If you believe that this
                amount is unfair,
                then please reach out to us and we'll make adjustements as necessary.</p>

            <p class="long-text">Notes for drivers: We ask that you make every effort to carpool with as many students
                as possible in your school. We will provide a Facebook page for you to find others in your area. Parking
                is free at Cornell after 5pm on Friday through Sunday. We are not responsible for any fines for parking
                violations.</p>

            <p>Please send any questions or concerns to <a href="mailto:info@bigredhacks.com?Subject=Transportation">info@bigredhacks.com</a>.
            </p>

            <% } else { %>
            <p> <%= bus.message %> </p>

            <div class="businfobox" data-busid="<%= bus.id %>">
                <div class="busname">
                    <%= bus.name %>
                </div>
                <ul class="businfo">
                    <li class="busstopslist">
                        <b>Bus Stops:</b>
                        <ul class="busstops">
                            <% for (var i = 0; i < bus.stops.length; i++) { %>
                            <li data-collegeid="<%= bus.stops[i].collegeid %>">
                                <span class="collegename"><%= bus.stops[i].collegename %></span>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                    <li class="currentnumber" data-currentnumber="<%= bus.members.length %>">
                        <b>Current Number on Bus:</b> <%= bus.members.length %>
                    </li>
                    <li class="maxcapacity">
                        <b>Max Capacity:</b> <span class="maxcapacitynumber"> <%= bus.capacity %> </span>
                    </li>
                    <% if (user.internal.busid == bus.id) { %>
                    <li class="userbusdecision"><b>Your Current Bus Decision:</b> Signed Up</li>
                    <% } else { %>
                    <li class="userbusdecision"><b>Your Current Bus Decision:</b> Opt Out</li>
                    <% } %>
                    <% if (bus.buscaptain != null) { %>
                    <li class="buscaptain">
                        <b>Bus Captain:</b>
                        <%= bus.buscaptain.name.last %>, <%= bus.buscaptain.name.first %>
                        (<%= bus.buscaptain.email %>)
                    </li>
                    <% } %>
                </ul>
                <div class="busselection">
                    <input type="button" value="sign up" name="signup" id="signup" class="btn btn-success">
                    <input type="button" value="opt out" name="optout" id="optout" class="btn btn-danger">
                </div>
            </div>
            <% } %>

            <% } %>
            <br/>


            <div class="header-wrapper">
                <h2 class="page-title">rsvp</h2>
            </div>
            <% if (user.internal.going == null) { %>
            <form method="post" action="/user/rsvp" id="rsvpForm"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="rsvpDropdown">Are you coming? *</label>
                    <select class="form-control" id="rsvpDropdown" name="rsvpDropdown" required>
                        <option value="">select</option>
                        <%- helper.generateOptions("yes no".split(" "), {selected: (input.rsvp || "")}); %>
                    </select>
                </div>
                <div id="coming-only" style="display:none">
                    <% if (bus == null) { %>
                    <div class="form-group">
                        <label for="receipt">Travel Receipt (.pdf, max: 10MB) *</label>

                        <p>Upload a copy of receipt for a roundtrip ticket. If you
                            are driving, then include a screenshot of your route on Google Maps.</p>

                        <div class="wrapper">
                            <input data-label="upload" class="form-control filepicker-bootstrap" type="file"
                                   id="receipt"
                                   name="receipt" accept=".pdf">
                        </div>
                    </div>
                    <% } %>
                    <p>Please click the two following links and read the
                        documents carefully.</p>

                    <div class="form-group">
                        <a type="button" class="btn btn-red" href="http://www.bigredhacks.com/docs/waiver2015.pdf"
                           target="_blank">liability waiver & release</a>
                        <a type="button" class="btn btn-red" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf"
                           target="_blank">code of conduct</a><br>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="legal" name="legal" value="true" class="checkbox">
                                I affirm that I have read and agree in full to the BigRed//Hacks Accident Waiver and
                                Release
                                of Liability, and agree to comply with the Major League Hacking Code of Conduct. I
                                understand that if I do not agree with any component of these agreements, I should not
                                RSVP
                                for the event.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="rsvp" name="rsvpsubmit" class="btn btn-red">submit</button>
                </div>
            </form>
            <% } else { %>
            <p>You told us that you would be <%= user.internal.going ? "going" : "not going" %> to bigred//hacks.</p>
            <% if (user.internal.going) { %>
            <p>If you can't make it, please let us know at <a href="mailto:info@bigredhacks.com?Subject=Transportation">info@bigredhacks.com</a>
                as soon as possible!</p>
            <% } %>
            <br/>

            <% } %>

            <div class="header-wrapper">
                <h2 class="page-title">resume</h2>
            </div>
            <a class="btn btn-red" href="<%= resumeLink %>" target="_blank">view my resume</a>
            <button class="btn btn-red" id="resume-update">update my resume</button>

            <form method="post" class="form-inline" action="/user/updateresume" style="display:none" id="resume-form"
                  enctype="multipart/form-data">
                <label>upload a new resume (.pdf)</label><br/>

                <div class="form-group has-error">
                    <input data-label="upload" class="form-control filepicker-bootstrap" type="file" id="resumeinput"
                           name="resumeinput" accept=".pdf" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-red" id="resume-save" disabled>Save</button>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/vendor/jquery.filepicker.min.js"></script>
<script src="/js/dashboard.js"></script>
<% include ../../_footer %>
