<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <% for (var i = 0; i < applicants.length; i++) { %>
    <tr class="applicant" data-pubid="<%= applicants[i].pubid %>">
        <td><a href="/admin/user/<%= applicants[i].pubid %>" target="_blank"><%= applicants[i].name.last %>
                , <%= applicants[i].name.first %></a></td>
        <td><%= applicants[i].email %></td>
        <td>
            <form class="role-radio">
                <%- viewHelper.generateInlineRadio(enums.user.role, {
                    checked: applicants[i].role, //set default value
                    name: "role", //name attr of each input
                    label: enums.user.role //label of the input different from actual input
                }); %>
            </form>
        </td>
    </tr>
    <% } %>
</table>
